html {
    font-size: 14px;
    background-color:#8ccf0f21;;
    color: white;
}

a {
    text-decoration: none;
}

/*nav {
    color: white;
    width: 100%;
    background-color:  rgba(20, 29, 28, 0.749);
    box-shadow: -30px 0 20px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-image: url(AdobeStock_597524480-min.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

#logo {
    height: 50px;
    width: 50px;
    margin-left: 1%;
    margin-top: 5px;
    border-radius: 50%;

    animation-duration: 10s;
    animation-name: spin; 
}

#name {
    font-size: 20px;
    font-family: cursive;
    font-weight: 800;
    color: black;
    margin-left: 1%;

}

.red {
    background-color: rgba(20, 29, 28, 0.749);
    text-align: center;
    justify-content: center;
    font-size: 70px;
    font-family: 'Courier New', Courier, monospace;
    color: blanchedalmond;
    font-weight: 700;
    padding: 20px;
    width: 70%;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 13%;
    margin-right: 15%;
    margin-top: 20px;
    border-radius: 50px 2px 50px 2px;
}

.left {
    width: 60%;
    border-radius: 100px;
    background-color: black;
    margin: 30px;
}

.expand {
    width: 80%;
    height: 90px;
    background: url(me.jpg);
    object-fit: cover;
    border-image-repeat: no-repeat;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -20px;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 10px;
    font-style: none;
    border-radius: 100px;
    box-shadow:0 15px 50px rgba(7, 230, 25, 0.6);  
    justify-content: center;
}

.expand:hover {
    transform: scale(1.12) translateY(-5px);
    box-shadow: 0 15px 50px rgba(31, 229, 5, 0.6);
    z-index: 10;
    border-radius: 100px;
}

.done {
    margin-bottom: -10px;
    font-style: normal;
    font-weight: 800;
    font-family: cursive;
}

.home {
    font-family: sans-serif;
    text-align: center;
    font-size: 2rem;
    color: bisque;
    font-style: oblique;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 500px;
    align-content: center;
    background-image: url(im.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: darkgray;
    border-radius: 100px;
    box-shadow: -30px 0 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
}

.right {
    height: 100%;
    width: 40%;
    object-position: center;
}

.contact {
    margin-top: 10%;
    margin-bottom: 10%;
    height: 10%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.63);
    color: blue;
    border-radius: 50px;
}

.contact:hover {
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: transparent;
    backdrop-filter: url(#distortion);
    -webkit-backdrop-filter: url(#distortion);
    transition: all 0.6s ease;
    position: relative;
    overflow: hidden;
    justify-content: center;
    object-position: center;
    font-weight: 700;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    margin-top: 50px;
}
/*.home:hover {
    transform:translateX(100px);

*/
@keyframes spin {
    0%{

    }

    100%{
        transform: rotate(360deg);
        border-radius: 50%;
    }
}
/*
h3 {
    text-align: center;
    font-size: 1.75rem;
    font-family: sans-serif;
    color: blue;
}

.h-1 {
    font-size: 1.5rem;
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: 50px;
}

.h-2 {
    font-size: 1.5rem;
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 700;
    margin-top: 0px;
}

.me {
     text-align: center;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: 500;
    line-height: 20px;
    padding-top: 2px;
    margin-bottom: 0px;
}

.info {
    text-align: center;
    font-size: 1.1rem;
    font-family: sans-serif;
    font-weight: 500;
    line-height: 20px;
    padding: 40px;
    padding-top: 10px;
}

.slogan {
    text-align: center;
    font-family: sans-serif;
    font-size: 0.75rem;
    text-align: center;
    text-decoration: double;
}

.design {
    height: 100px;
    width: 100%;
    border-radius: 5px;
}

.blend {
    border-radius: 10px;
    padding-left: 12.5%;
    padding-right: 12.5%;
}
#about {
    display: flex;
    margin: 0 auto;
    height: 400px;
    width: 100%;
}

#description {
    width: 40.625%;
    margin-left: 6.25%;
    margin-right: 6.25%;
    height: 400px;
    background: yellow;
    color: black;
    border-radius: 5px;
    font-family: sans-serif;
}

.span-1 {
    font-size: 1.1rem;
    font-family: cursive;
    font-style: oblique;
    color: blueviolet;
}

.span-2 {
    font-size: 1.1rem;
    font-family: cursive;
    font-style: oblique;
    color: green;
}

.span-3 {
    text-decoration: underline;
}

#image {
    width: 40.625%;
    margin-right: 6.25%;
    height: 400px;
}

.photo {
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 5px;
}

.forward {
    font-size: 2rem;
    font-family: sans-serif;
    text-align: center;
    font-weight: 500;
    color: black;
}

.application-form {
    color: black;
}

.form-group{
    color: black;
    text-align: center;
}

.list {
    list-style: none;
    text-align: center;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 1rem;
    color: black;
}

#social {
    display: flex;
    font-size: 2rem;
    font-family: cursive;
    font-weight: 700;
}

.facebook {
    background-color: blue;
    width: 20%;
    margin-left: 12%;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    text-align: center;
}

.youtube {
    background-color: red;
    width: 20%;
    margin-left: 9%;
    margin-right: 9%;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    text-align: center;
}

.tiktok {
    background-color:lightseagreen;
    width: 20%;
    margin-right: 12%;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    text-align: center;
}

.tiktok:hover {
    transform: scale(1.3);
    }

.youtube:hover {
    transform: scale(1.3);
    }

.facebook:hover {
    transform:scale(1.3) ;}

.fac {
    color: black;
}

.you {
    color: forestgreen;
}

.tik {
    color: white;
}



#footer {
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-style: italic;
    background-color:  #fff8f0;
    width: 100%;
    text-align: center;
    background-color: black;
    border-radius: 4px;
}

a {
    color: rgb(57, 8, 233);
}
.help {
    width: 40%;
    float: left;
    margin-left: 10%;
}

.location {
    width: 40%;
    float: right;
    margin-right: 10%;
}

#footer-flex {
    display: flex;
}

.button {
    color: darkorange;
    font-style: italic;
    background-color: black;
    cursor: none;
    border-radius: 5px;
    font-weight: 800;
}

.button:hover {
    background-color:whitesmoke;
}*/

@media screen and ( min-width:256px) {
    nav {
    width: 100%;
    background-color:  rgba(20, 29, 28, 0.749);
    box-shadow: -30px 0 20px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
}
#logo {
    height: 50px;
    width: 50px;
    margin-left: 1%;
    margin-top: 5px;
    border-radius: 50%;

    animation-duration: 10s;
    animation-name: spin; 
}

#name {
    font-size: 20px;
    font-family: cursive;
    font-weight: 800;
    color: black;
    margin-left: 1%;

}

img {
    object-position: center;
    object-position: absolute;
}

.red {
    background-color: rgba(20, 29, 28, 0.749);
    text-align: center;
    justify-content: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: blanchedalmond;
    font-weight: 700;
    padding: 20px;
    width: 70%;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 13%;
    margin-right: 15%;
    margin-top: 20px;
    border-radius: 50px 2px 50px 2px;
}

.contact {
    margin-top: 10%;
    margin-bottom: 10%;
    height: 10%;
    padding: 20px;
    background-color: black;
    color: blue;
    border-radius: 50px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    font-family: monospace;
    font-weight: 800;
    font-size: 1rem;
}

.contact:hover {
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: transparent;
    backdrop-filter: url(#distortion);
    -webkit-backdrop-filter: url(#distortion);
    transition: all 0.6s ease;
    position: relative;
    overflow: hidden;
    justify-content: center;
    object-position: center;
    font-weight: 900;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 2px;
}

 .right {
    height: 100%;
    width: 0 auto;
    object-position: center;
    font-family: sans-serif;
    text-align: center;
    font-size: 2rem;
    color: bisque;
    font-style: oblique;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 500px;
    align-content: center;
    background-image: url(im.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-radius: 50px;
    box-shadow: -30px 0 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.left {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-radius: 10px;
    background-color: rgba(20, 29, 28, 0.749);
    height: 320px;
}

h2 {
    font-family: sans-serif;
    text-align: center;
    font-size: 2rem;
    color: bisque;
    font-style: oblique;
    align-content: center;
    padding-top: 20px;
}

.me {
    text-align: center;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: 500;
    line-height: 20px;
    padding-top: 2px;
    margin-bottom: 0px;
}

.info {
    text-align: center;
    font-size: 1.1rem;
    font-family: sans-serif;
    font-weight: 500;
    line-height: 20px;
    padding: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.expand {
    width: 80%;
    padding: 10px;
    background: url(sunrise-from-seaview.jpg);
    object-fit: cover;
    border-image-repeat: no-repeat;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: none;
    border-radius: 100px;  
    justify-content: center;
}

.expand:hover {
    transform: scale(1.12) translateY(-5px);
    box-shadow: 0 15px 50px rgba(16, 5, 229, 0.6);
    z-index: 10;
    border-radius: 100px;
}

.done {
    margin-bottom: -10px;
    font-style: normal;
    font-weight: 800;
    font-family: cursive;
}

#social {
    display: flex;
    font-size: 1rem;
    font-family: cursive;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

.facebook {
    background-color: blue;
    width: 20%;
    margin-left: 12%;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    text-align: center;
}

.youtube {
    background-color: red;
    width: 20%;
    margin-left: 9%;
    margin-right: 9%;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    text-align: center;
}

.tiktok {
    background-color:lightseagreen;
    width: 20%;
    margin-right: 12%;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    text-align: center;
}

.tiktok:hover {
    transform: scale(1.3);
    }

.youtube:hover {
    transform: scale(1.3);
    }

.facebook:hover {
    transform:scale(1.3) ;}

.fac {
    color: black;
}

.you {
    color: forestgreen;
}

.tik {
    color: white;
}

#footer {
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-style: italic;
    background-color:  #fff8f0;
    width: 100%;
    text-align: center;
    background-color: black;
    border-radius: 4px;
    box-shadow: -30px 0 20px rgba(0, 0, 0, 0.4);
}

a {
    color: rgb(57, 8, 233);
}
.help {
    width: 40%;
    float: left;
    margin-left: 10%;
}

.location {
    width: 40%;
    float: right;
    margin-right: 10%;
}

#footer-flex {
    display: flex;
}

.button {
    color: darkorange;
    font-style: italic;
    background-color: black;
    cursor: none;
    border-radius: 5px;
    font-weight: 800;
}

.button:hover {
    background-color:whitesmoke;
}

}

@media screen and ( min-width:576px) {
    #about {
        display: block;
    }
    
}

@media screen and ( min-width:768px) {
    #about {
        display: flex;
    }
    
}

@media screen and ( min-width:992px) {
    #about {
        display: flex;
    }
    
}

@media screen and ( min-width:1200px) {

}